---
import IconYouTube from "@/assets/icons/IconYouTube.svg";
import IconBrandX from "@/assets/icons/IconBrandX.svg";
import IconGitHub from "@/assets/icons/IconGitHub.svg";
import IconLinkedin from "@/assets/icons/IconLinkedin.svg";
import IconMail from "@/assets/icons/IconMail.svg";
import IconInstagram from "@/assets/icons/IconInstagram.svg";
import { SOCIALS } from "@/constants";
import LinkButton from "./LinkButton.astro";

export interface Props {
  centered?: boolean;
}

const { centered = false } = Astro.props;

const iconMap = {
  twitter: IconBrandX,
  instagram: IconInstagram,
  youtube: IconYouTube,
  linkedin: IconLinkedin,
  github: IconGitHub,
  mail: IconMail,
};
---

<div class:list={["flex flex-wrap justify-center gap-0", { flex: centered }]}>
  {
    SOCIALS.filter((social) => social.active).map((social) => {
      const IconComponent = iconMap[social.icon as keyof typeof iconMap];
      return (
        <LinkButton
          href={social.href}
          class="p-1 hover:rotate-6"
          title={social.linkTitle}
          target="_blank"
        >
          {IconComponent && (
            <IconComponent class="inline-block size-6 scale-110 fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent" />
          )}
          <span class="sr-only">{social.linkTitle}</span>
        </LinkButton>
      );
    })
  }
</div>
